---
layout: page
title: Badges
---
<h1 class="my-4">Participants (by year)</h1>

<!-- Get the current year -->
{% assign currentYear = site.time | date: "%Y" %}

<!-- Group episodes by year -->
{%- assign episodesByYear = site.episodes | where: "posted", true | group_by_exp: "item", "item.date | date: '%Y' | plus: 0" -%}

<!-- Iterate through each year from 2022 to the current year -->
{% for year in (2022..currentYear) %}
  {% assign episodesThisYear = '' | split: '' %}
  {% for group in episodesByYear %}
    {% if group.name == year %}
      {% assign episodesThisYear = group.items %}
      <h3 class="mt-5">{{ year }}</h3>
      <table class="table">
        <tr><th>Participant</th><th>First achieved</th><th>Ethereum</th></tr>
        
        <!-- Iterate through each participant -->
        {% for participant in site.data.participants %}
          {% assign firstEpisodeDate = '' %}
          
          <!-- Find the first episode for this participant in the given year -->
          {% for episode in episodesThisYear %}
            {% if episode.participants contains participant[0] %}
              {% assign firstEpisodeDate = episode.date | date: "%Y-%m-%d" %}
              {% break %}
            {% endif %}
          {% endfor %}
          
          <!-- Only display participants who appeared in this year -->
          {% if firstEpisodeDate != '' %}
            <tr>
              <td class="position-relative">
                <a href="https://twitter.com/{{ participant[0] }}" class="stretched-link">
                  {{ participant[0] }}
                </a>
              </td>
              <td>{{ firstEpisodeDate }}</td>
              <td>
                {% if participant[1].ethereum != "???" %}
                  {{ participant[1].ethereum }}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
  {% endfor %}
{% endfor %}