---
layout: page
title: Episodes
description: "All Community Service Hour episodes and show notes, including upcoming drafts and published episodes."
---
<h1 class="my-4">Upcoming episodes</h1>

{% assign episodes = site.episodes | where: "posted", "false" | sort: 'date' | reverse %}
{% for episode in episodes %}
<div class="upcoming-or-draft" data-date="{{ episode.date | date: " %Y-%m-%d" }}">
  <h2 class="d-flex flex-wrap gap-1 align-items-center fs-4">
    <span class="badge rounded-pill bg-warning text-dark"></span>
    <a href="{{ episode.url | relative_url }}" class="link-primary">
      {{ episode.title | escape }}
      {% if episode.subtitle != "" %}
      <br><small>{{ episode.subtitle | escape }}</small>
      {% endif %}
    </a>
    <span class="hstack d-inline-flex flex-wrap">
      <!-- Participants from this specific episode -->
      {% assign some_participant_ids = episode.participants | sample: 3 %}
      {% for participant_id in some_participant_ids %}
      <img src="/assets/participants/{{ participant_id }}.webp" class="rounded-circle"
        style="width: 2.5rem; height: 2.5rem; margin-right: -0.5rem;" alt="Photo of {{ participant_id }}">
      {% endfor %}
      <!-- + how many not shown... -->
      {% assign remaining = episode.participants.size | minus: 3 %}
      {% if remaining > 0 %}
      <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">+
        {{- remaining -}}
      </span>
      {% endif %}
    </span>
    Episode {{ episode.itunes-episode}}
  </h2>
  <div class="row mb-4">
    <div class="col-lg">
      <ul>
        <!-- timeline entries -->
        <!-- Set timeline = episode.timeline except 00:00 Intro -->
        {% assign timeline = episode.timeline | where_exp: "item", "item.seconds > 0" %}
        {% for item in timeline %}
        {% assign hoursHH = item.seconds | divided_by: 3600 | prepend: "0" | slice: -2, 2 %}
        {% assign minutesMM = item.seconds | divided_by: 60 | modulo: 60 | prepend: "0" | slice: -2, 2 %}
        {% assign secondsSS = item.seconds | modulo: 60 | prepend: "0" | slice: -2, 2 %}
        {% assign time = hoursHH | append: ":" | append: minutesMM | append: ":" | append: secondsSS %}
        {% if hoursHH == "00" %}
        {% assign time = minutesMM | append: ":" | append: secondsSS %}
        {% endif %}
        <li>
          <code>{{ time }}</code>
          {{ item.title | escape }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg">
      <!-- page excerpt -->
      {{ episode.excerpt }}

      <!-- edit on GitHub, use this episode's file name -->
      <a href="https://github.com/community-service/hour.gg/edit/main/_episodes/{{ episode.date | date: " %Y-%m-%d"
        }}-episode-{{ episode.itunes-episode }}.md" class="icon-link">
        <i class="bi bi-github"></i>
        Edit these notes&hellip;
      </a>
    </div>
  </div>
</div>
{% endfor %}

<h1 class="my-4">Published episodes</h1>

{% assign episodes = site.episodes | where: "posted", true | sort: 'date' | reverse %}
{% for episode in episodes %}
<h2 class="d-flex flex-wrap gap-1 align-items-center fs-4">
  <a href="{{ episode.url | relative_url }}" class="link-primary">
    {{ episode.title | escape }}
    {% if episode.subtitle != "" %}
    <br><small>{{ episode.subtitle | escape }}</small>
    {% endif %}
  </a>
  <span class="hstack d-inline-flex flex-wrap">
    <!-- Participants from this specific episode -->
    {% assign some_participant_ids = episode.participants | sample: 3 %}
    {% for participant_id in some_participant_ids %}
    <img src="/assets/participants/{{ participant_id }}.webp" class="rounded-circle"
      style="width: 2.5rem; height: 2.5rem; margin-right: -0.5rem;" alt="Photo of {{ participant_id }}">
    {% endfor %}
    <!-- + how many not shown... -->
    {% assign remaining = episode.participants.size | minus: 3 %}
    {% if remaining > 0 %}
    <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">+
      {{- remaining -}}
    </span>
    {% endif %}
  </span>
</h2>
<div class="row mb-4">
  <div class="col-lg">
    Episode {{ episode.itunes-episode}}
    <ul>
      <!-- timeline entries -->
      <!-- Set timeline = episode.timeline except 00:00 Intro -->
      {% assign timeline = episode.timeline | where_exp: "item", "item.seconds > 0" %}
      {% for item in timeline %}
      {% assign hoursHH = item.seconds | divided_by: 3600 | prepend: "0" | slice: -2, 2 %}
      {% assign minutesMM = item.seconds | divided_by: 60 | modulo: 60 | prepend: "0" | slice: -2, 2 %}
      {% assign secondsSS = item.seconds | modulo: 60 | prepend: "0" | slice: -2, 2 %}
      {% assign time = hoursHH | append: ":" | append: minutesMM | append: ":" | append: secondsSS %}
      {% if hoursHH == "00" %}
      {% assign time = minutesMM | append: ":" | append: secondsSS %}
      {% endif %}
      <li>
        <code>{{ time }}</code>
        {{ item.title | escape }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-lg">
    <!-- page excerpt -->
    {{ episode.excerpt }}

    <!-- edit on GitHub, use this episode's file name -->
    <a href="https://github.com/community-service/hour.gg/edit/main/_episodes/{{ episode.date | date: " %Y-%m-%d"
      }}-episode-{{ episode.itunes-episode }}.md" class="icon-link">
      <i class="bi bi-github"></i>
      Edit these notes&hellip;
    </a>
  </div>
</div>
{% endfor %}

<script>
  // Look at each h2.upcoming-or-draft
  //  - if it is today or in the past, change the .badge to "Draft"
  //  - if it is in the future, change the .badge to "Upcoming"
  //  - only keep the two in the future closest to today, hide other future
  //  - before the first draft, add a "<h1 class="my-4">Upcoming episodes</h1>"
  const todayYYYYMMDD = new Date().toISOString().split('T')[0];
  const upcomingOrDrafts = Array.prototype.slice.call(document.querySelectorAll('.upcoming-or-draft'));
  upcomingOrDrafts.forEach(function (el) {
    // Draft
    if (el.dataset.date <= todayYYYYMMDD) {
      el.querySelector('.badge').innerHTML = 'Draft';
    }
    // Future
    if (el.dataset.date > todayYYYYMMDD) {
      el.querySelector('.badge').innerHTML = 'Upcoming';
    }
  });
  // Only keep the three in the future closest to today, delete other future
  upcomingOrDrafts.filter(function (el) {
    return el.dataset.date > todayYYYYMMDD;
  }).slice(0, -2).forEach(function (el) {
    el.remove();
  });
  // Before the first draft, add a "Drafts (not yet on podcast)" h2
  const firstDraft = upcomingOrDrafts.filter(function (el) {
    return el.dataset.date <= todayYYYYMMDD;
  })[0];
  const h1 = document.createElement('h1');
  h1.textContent = 'Draft episodes (not yet on podcast)';
  h1.classList.add('my-4');
  firstDraft.insertAdjacentElement('beforebegin', h1);
</script>
