---
layout: none
---
<!doctype html>
<html lang="en">
  <head>
    <title>Community Service Hour</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha256-u2/YzYU5TLNn6KxY5HKS8taOsoj6Evq2jmVDCl3fzkg=" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="Community Service Hour" href="/podcast.xml">

    <style>
      :root {
        --bs-body-bg: #341334;
        --bs-body-color: #f8fafc;
        --bs-primary-rgb: 242, 47, 84;
        --bs-link-color-rgb: 242, 47, 84;
      }
      .btn-primary {
        --bs-btn-bg: #f22f54;
        --bs-btn-border-color: #f22f54;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #ce3e59;
        --bs-btn-hover-border-color: #ce3e59;
        --bs-btn-focus-shadow-rgb: 0 0 0;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #a84b5c;
        --bs-btn-active-border-color: #a84b5c;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }
    </style>
  </head>
<body>
  <section class="container-xl py-4">

    <nav aria-label="breadcrumb" class="text-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">CSH</a></li>
      </ol>
    </nav>

    <h1 class="my-4">Upcoming episodes</h1>

    {% assign episodes = site.episodes | where: "posted", "false" | sort: 'date' | reverse %}
    {% for episode in episodes %}
    <div class="upcoming-or-draft" data-date="{{ episode.date | date: "%Y-%m-%d" }}">
      <h2 class="d-flex gap-1 align-items-center fs-4">
        <span class="badge rounded-pill bg-warning text-dark"></span>
        <a href="{{ episode.url | relative_url }}" class="link-primary">
          {{ episode.itunes-episode}} / {{ episode.title | escape }}
          {% if episode.subtitle != "" %}
          <br><small>{{ episode.subtitle | escape }}</small>
          {% endif %}
        </a>
        <span class="hstack d-inline-flex">
          <!-- Participants from this specific episode -->
          {% assign some_participant_ids = episode.badges | sample: 3 | map: "participant" %}
          {% for participant_id in some_participant_ids %}
          <img src="/assets/participants/{{ participant_id }}.jpg" class="rounded-circle" style="width: 2.5rem; height: 2.5rem; margin-right: -0.5rem;" alt="Photo of {{ participant_id }}">
          {% endfor %}
          <!-- + how many not shown... -->
          {% assign remaining = episode.badges.size | minus: 3 %}
          {% if remaining > 0 %}
          <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">+
            {{- remaining -}}
          </span>
          {% endif %}
        </span>
      </h2>
      <div class="row mb-4">
        <div class="col-lg">
          <ul>
            <!-- timeline entries -->
            <!-- Set timeline = episode.timeline except 00:00 Intro -->
            {% assign timeline = episode.timeline | where_exp: "item", "item.seconds > 0" %}
            {% for item in timeline %}
            {% assign hoursHH = item.seconds | divided_by: 3600 | prepend: "0" | slice: -2, 2 %}
            {% assign minutesMM = item.seconds | divided_by: 60 | modulo: 60 | prepend: "0" | slice: -2, 2 %}
            {% assign secondsSS = item.seconds | modulo: 60 | prepend: "0" | slice: -2, 2 %}
            {% assign time = hoursHH | append: ":" | append: minutesMM | append: ":" | append: secondsSS %}
            {% if hoursHH == "00" %}
              {% assign time = minutesMM | append: ":" | append: secondsSS %}
            {% endif %}
            <li>
              <code>{{ time }}</code>
              {{ item.title | escape }}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg">
          <!-- page excerpt -->
          {{ episode.excerpt }}

          <!-- edit on GitHub, use this episode's file name -->
          <a href="https://github.com/community-service/hour.gg/edit/main/_episodes/{{ episode.date | date: "%Y-%m-%d" }}-episode-{{ episode.itunes-episode }}.md" class="icon-link">
            <i class="bi bi-github"></i>
            Edit these notes&hellip;
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

    <h1 class="my-4">Published episodes</h1>

    {% assign episodes = site.episodes | where: "posted", true | sort: 'date' | reverse %}
    {% for episode in episodes %}
    <h2 class="d-flex gap-1 align-items-center fs-4">
      <a href="{{ episode.url | relative_url }}" class="link-primary">
        {{ episode.itunes-episode}} / {{ episode.title | escape }}
        {% if episode.subtitle != "" %}
        <br><small>{{ episode.subtitle | escape }}</small>
        {% endif %}
    </a>
      <span class="hstack d-inline-flex">
        <!-- Participants from this specific episode -->
        {% assign some_participant_ids = episode.badges | sample: 3 | map: "participant" %}
        {% for participant_id in some_participant_ids %}
        <img src="/assets/participants/{{ participant_id }}.jpg" class="rounded-circle" style="width: 2.5rem; height: 2.5rem; margin-right: -0.5rem;" alt="Photo of {{ participant_id }}">
        {% endfor %}
        <!-- + how many not shown... -->
        {% assign remaining = episode.badges.size | minus: 3 %}
        {% if remaining > 0 %}
        <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">+
          {{- remaining -}}
        </span>
        {% endif %}
      </span>
    </h2>
    <div class="row mb-4">
      <div class="col-lg">
        <ul>
          <!-- timeline entries -->
          <!-- Set timeline = episode.timeline except 00:00 Intro -->
          {% assign timeline = episode.timeline | where_exp: "item", "item.seconds > 0" %}
          {% for item in timeline %}
          {% assign hoursHH = item.seconds | divided_by: 3600 | prepend: "0" | slice: -2, 2 %}
          {% assign minutesMM = item.seconds | divided_by: 60 | modulo: 60 | prepend: "0" | slice: -2, 2 %}
          {% assign secondsSS = item.seconds | modulo: 60 | prepend: "0" | slice: -2, 2 %}
          {% assign time = hoursHH | append: ":" | append: minutesMM | append: ":" | append: secondsSS %}
          {% if hoursHH == "00" %}
            {% assign time = minutesMM | append: ":" | append: secondsSS %}
          {% endif %}
          <li>
            <code>{{ time }}</code>
            {{ item.title | escape }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg">
        <!-- page excerpt -->
        {{ episode.excerpt }}

        <!-- edit on GitHub, use this episode's file name -->
        <a href="https://github.com/community-service/hour.gg/edit/main/_episodes/{{ episode.date | date: "%Y-%m-%d" }}-episode-{{ episode.itunes-episode }}.md" class="icon-link">
          <i class="bi bi-github"></i>
          Edit these notes&hellip;
        </a>
      </div>
    </div>
    {% endfor %}
  </section>

  <footer class="container-xl my-4 py-4">
    <a class="lead link-primary" href="https://github.com/community-service/hour.gg">Edit this page &hellip;</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script>
    // Look at each h2.upcoming-or-draft
    //  - if it is today or in the past, change the .badge to "Draft"
    //  - if it is in the future, change the .badge to "Upcoming"
    //  - only keep the two in the future closest to today, hide other future
    //  - before the first draft, add a "<h1 class="my-4">Upcoming episodes</h1>"
    const todayYYYYMMDD = new Date().toISOString().split('T')[0];
    const upcomingOrDrafts = Array.prototype.slice.call(document.querySelectorAll('.upcoming-or-draft'));
    upcomingOrDrafts.forEach(function (el) {
      // Draft
      if (el.dataset.date <= todayYYYYMMDD) {
        el.querySelector('.badge').innerHTML = 'Draft';
      }
      // Future
      if (el.dataset.date > todayYYYYMMDD) {
        el.querySelector('.badge').innerHTML = 'Upcoming';
      }
    });
    // Only keep the three in the future closest to today, delete other future
    upcomingOrDrafts.filter(function (el) {
      return el.dataset.date > todayYYYYMMDD;
    }).slice(0, -2).forEach(function (el) {
      el.remove();
    });
    // Before the first draft, add a "Drafts (not yet on podcast)" h2
    const firstDraft = upcomingOrDrafts.filter(function (el) {
      return el.dataset.date <= todayYYYYMMDD;
    })[0];
    const h1 = document.createElement('h1');
    h1.textContent = 'Draft episodes (not yet on podcast)';
    h1.classList.add('my-4');
    firstDraft.insertAdjacentElement('beforebegin', h1);
  </script>
</body>
</html>