---
layout: none
---
<!doctype html>
<html lang="en">

<head>
  <title>Community Service Hour</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    integrity="sha256-u2/YzYU5TLNn6KxY5HKS8taOsoj6Evq2jmVDCl3fzkg=" crossorigin="anonymous">
  <link rel="alternate" type="application/rss+xml" title="Community Service Hour" href="/podcast.xml">

  <style>
    :root {
      --bs-body-bg: #341334;
      --bs-body-color: #f8fafc;
      --bs-primary-rgb: 242, 47, 84;
      --bs-link-color-rgb: 242, 47, 84;
    }

    .navbar-nav {
      --bs-nav-link-color: rgba(255, 255, 255, 0.85);
    }

    .btn-primary {
      --bs-btn-bg: #f22f54;
      --bs-btn-border-color: #f22f54;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #ce3e59;
      --bs-btn-hover-border-color: #ce3e59;
      --bs-btn-focus-shadow-rgb: 0 0 0;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #a84b5c;
      --bs-btn-active-border-color: #a84b5c;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }

    /* temp hack */
    .link-primary:hover {
      color: #c61838 !important;
      -webkit-text-decoration-color: #c61838 !important;
      text-decoration-color: #c61838 !important;
    }

    .font-primary {
      font-family: "Rockwell", "Georgia", "Times New Roman", "Times", serif;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-xl">

      <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" alt="Bootstrap" height="40">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
              href="https://twitter.com/intent/tweet?text=Hello%20@fulldecent%20I%20have%20a%20question%20for%20%23CommunityServiceHour">ASK
              A QUESTION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
              href="https://twitter.com/messages/compose?recipient_id=47729549&text=Hello%20I'd%20like%20to%20be%20interviewed%20on%20Community%20Service%20Hour.%20Here's%20some%20details%20about%20my%20project&hellip;">GET
              INTERVIEWED</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PODCAST
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"
                  href="https://podcasts.apple.com/us/podcast/community-service-hour/id1662422217"><i
                    class="bi bi-apple"></i> Apple podcasts</a></li>
              <li><a class="dropdown-item" href="https://open.spotify.com/show/3k4PnmjfLiuNo9HpXemCdJ"><i
                    class="bi bi-spotify"></i> Spotify podcasts</a></li>
              <li><a class="dropdown-item"
                  href="https://www.youtube.com/playlist?list=PLaMigeN8Exx-ChNPpO-j6pFQ3F8oJWrBN"><i
                    class="bi bi-youtube"></i> YouTube channel</a></li>
              <li><a class="dropdown-item" href="https://www.twitch.tv/fulldecent"><i class="bi bi-twitch"></i> Twitch
                  channel</a></li>
            </ul>
          </li>
        </ul>
        <a href="https://github.com/users/fulldecent/projects/" class="btn btn-primary">INVEST (TIME)</a>
      </div>
    </div>
  </nav>

  <header class="container-xl py-4">
    <img src="/assets/banner.png" class="img-fluid" alt="Community Service Hour">

    <div class="col align-self-center">
      <h5>Next show: <span id="next-show" class="fw-bold">Loading&hellip;</span></h5>
      <p>
      <div class="dropdown d-inline-block">
        <span id="next-show-time" class="fst-italic">Loading&hellip;</span>
        <a href="/calendar.ics" title="Works with Google Calendar, Outlook and other calendar software"
          class="btn btn-primary rounded-pill">Add to calendar (ICS) <i class="bi bi-calendar-plus"></i></a>
      </div>
      </p>
      <div class="hstack gap-2">
        <a href="https://twitter.com/fulldecent" class="btn btn-primary rounded-pill">Join live <i
            class="bi bi-twitter-x"></i></a>
        <a href="https://www.twitch.tv/fulldecent" class="btn btn-primary rounded-pill">Join live <i
            class="bi bi-twitch"></i></a>
        <a href="https://drive.proton.me/urls/P51R6H0JF0#s99indgxujhG" class="btn btn-primary rounded-pill">Show notes
          <i class="bi bi-file-earmark-text"></i></a>
      </div>
    </div>
  </header>

  <aside class="text-end">
    <img src="assets/divider.svg" style="max-height: 3rem;" alt="Divider">
  </aside>

  <section class="container-xl my-4 py-4">
    <div class="alert bg-primary" role="alert">
      <form
        action="https://phor.us9.list-manage.com/subscribe/post?u=8b49e10ddf197497c02ff4eae&amp;id=e3fcfddf94&amp;MERGE1=blog.phor.net"
        method="post">
        <div class="input-group">
          <input type="email" name="EMAIL" class="form-control" placeholder="Email address" required>
          <button type="submit" class="btn btn-primary ms-2 rounded-pill"><i class="bi bi-bell-fill"></i> Monthly<span
              class="d-none d-lg-inline"> email</span></button>
        </div>
      </form>
    </div>
  </section>

  <section class="container-xl py-4">

    <h1 class="my-4">
      <a class="link-primary" href="/episodes">Episodes &amp; notes</a>
      <!--
      <a class="btn btn-sm rounded-pill btn-primary" href="https://podcasts.apple.com/us/podcast/community-service-hour/id1662422217">Apple Podcasts</a>
      <a class="btn btn-sm rounded-pill btn-primary" href="https://open.spotify.com/show/4WHTVyOHKtCAOgV8jB1KE2">Spotify</a>
      <a class="btn btn-sm rounded-pill btn-primary" href="https://www.youtube.com/playlist?list=PLaMigeN8Exx-ChNPpO-j6pFQ3F8oJWrBN">YouTube</a>
      <a class="btn btn-sm rounded-pill btn-primary" href="https://www.tiktok.com/@fulldecent">TikTok</a>
      -->
    </h1>

    {% assign episodes = site.episodes | where: "posted", true | sort: 'date' | reverse | slice: 0, 10 %}
    {% for episode in episodes %}
    <div class="row my-4">
      <div class="col-12 col-lg-10 position-relative">
        <h2 class="fs-4">
          <a href="{{ episode.url | relative_url }}" class="link-primary hstack">
            <div>
              {{ episode.title | escape }}
              {% if episode.subtitle != "" %}
              <br><small>{{ episode.subtitle }}</small>
              {% endif %}
            </div>
            <span class="hstack d-inline-flex ms-1">
              <!-- Participants from this specific episode -->
              {% assign some_participant_ids = episode.participants | sample: 3 %}
              {% for participant_id in some_participant_ids %}
              <img src="/assets/participants/{{ participant_id }}.jpg" class="rounded-circle participant-default-image"
                style="width: 2.5rem; height: 2.5rem; margin-right: -0.5rem;" alt="Photo of {{ participant_id }}">
              {% endfor %}
              <!-- + how many not shown... -->
              {% assign remaining = episode.participants.size | minus: 3 %}
              {% if remaining > 0 %}
              <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">+
                {{- remaining -}}
              </span>
              {% endif %}
            </span>
          </a>
        </h2>
        <p>{{ episode.itunes-episode}} / {{ episode.description | escape }}</p>
      </div>
      {% if episode.youtube-full %}
      {% assign youtube-id = episode.youtube-full | split: '/' | last %}
      <div class="col-12 col-lg-2">
        <iframe src="https://www.youtube-nocookie.com/embed/{{ youtube-id }}"
          allow="accelerometer; autoplay; gyroscope; picture-in-picture" allowfullscreen class="rounded-5"
          style="max-width: 100%;"></iframe>
      </div>
      {% endif %}
    </div>
    {% endfor %}

    <p class="mt-5">
      <a class="link-primary" href="episodes">All episodes&hellip;</a>
    </p>
  </section>

  <section class="container-xl mt-4">
    <h1 id="about-us">
      <a href="participants">Participants</a>
      <span class="badge rounded-pill text-bg-warning" style="margin-left: -0.2rem;">
        {{- site.data.participants.size -}}
      </span>
    </h1>
    <p class="lead">Your host is William Entriken with special cohosts.</p>
    <p class="lead">We recognize participants in <em>Community Service Hour</em> for joining our weekly call and
      presenting projects.</p>
    <p class="lead">
      ℹ️ Follow everyone at once with our <a href="https://twitter.com/fulldecent/lists">our lists on X</a>.
    </p>

    <!-- TODO: only Participants from the past 10 weeks are shown below -->

    <!--<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">-->
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4">
      <!-- Show all participants (TODO: only show those with activity in the past 10 weeks) -->
      {% assign all_participants2 = "" | split: "" -%}
      {% for participant in site.data.participants -%}
      {% assign all_participants2 = all_participants2 | push: participant[0] | sample: 25 -%}
      {% endfor -%}
      {% for participant in all_participants2 -%}
      <div class="col hstack align-self-start gap-2 mb-3">
        <img src="/assets/participants/{{ participant }}.jpg" alt="{{ participant }}"
          class="rounded-circle participant-default-image" style="width: 3rem; height: 3rem;">
        <div>
          <h5 class="card-title"><a class="link-primary"
              href="https://twitter.com/{{ site.data.participants[participant].x }}">@{{
              site.data.participants[participant].x
              }}</a><!--<span class="badge text-bg-warning rounded-pill ms-2">+12</span>--></h5>

          {% if site.data.participants[participant].name != "???" %}
          <p class="card-text">{{ site.data.participants[participant].name }}</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <p class="mt-5">
      <a class="link-primary" href="participants">All participants&hellip;</a>
    </p>
  </section>

  <section class="container-xl my-4 py-4">
    <h1 class="my-4" id="how-to-csh">
      How to CSH?
    </h1>
    <p class="lead">Release early, release often. We build open source and share our experiences with the world.</p>
    <p class="lead">We are a community of people who are passionate about art, software, neural networks, changing
      society by example, launching products.</p>
    <p class="lead">Join each week live to discuss with like-minded people. All it takes in one hour a week to further
      your career, plus a few extra minutes to show yourself off.</p>
    <hr>
    <p class="lead">If you've never contributed to an open source project before&hellip; that is the best place to
      start. Because you will directly connect with people, you are welcome everywhere and everything you do goes
      straight into your portfolio. A good way to start is to create a profile on GitHub (fill it out ENTIRELY), find
      any project you are interested (for example <a class="link-primary" href="">this web page you are reading is open
        source</a>), edit to fix a typo there and then send your contribution however to the project maintainer. On
      GitHub this is called "save", "fork" and "pull request", you get all those by clicking the green buttons after you
      save your change.</p>
    <p class="lead">From your first typo-fix, you have already passed 80% of the world in building your portfolio in
      technology. Yes really. Put it on your resume. Yes really. Then imagine what other project you will take on next.
      You're welcome to share with us on the call, and can expect lots of encouragement.</p>
  </section>

  <aside class="text-start">
    <img src="assets/divider.svg" style="max-height: 3rem;" alt="Divider">
  </aside>

  <footer class="container-xl my-4 py-4">
    <a class="lead link-primary icon-link" href="https://github.com/community-service/hour.gg"><i
        class="bi bi-github"></i> Edit this page &hellip;</a>
    <a class="lead link-primary icon-link" href="https://drive.proton.me/urls/P51R6H0JF0#s99indgxujhG"><i
        class="bi bi-file-earmark"></i> Show notes</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    // Load next show from assets/upcoming-episodes.json
    fetch('/assets/upcoming-episodes.json')
      .then(response => response.json())
      .then(data => {
        for (const episode of data) {
          const startTime = new Date(episode.startTime); // YYYY-MM-DDTHH:MM:SS-XX:YY
          const endTime = new Date(startTime.getTime() + 60 * 60 * 1000);

          // If this episode ended, skip it
          if (endTime < new Date()) {
            continue;
          }
          document.getElementById('next-show').innerHTML = episode.title;

          // If is live now, show it
          if (startTime < new Date()) {
            document.getElementById('next-show-time').innerHTML = 'Live now!';
            return;
          }

          // If starting within 8 hours, show countdown
          const now = new Date();
          const eightHours = 8 * 60 * 60 * 1000;
          if (1) {
            //if (startTime < new Date(now.getTime() + eightHours)) {
            // show countdown and update every second
            setInterval(() => {
              const now = new Date();
              const diff = startTime - now;
              const hours = Math.floor(diff / (1000 * 60 * 60));
              const minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
              const seconds = Math.floor((diff % (1000 * 60)) / 1000);
              document.getElementById('next-show-time').innerHTML = `Join live in ${hours}h ${minutes}m ${seconds}s`;
            }, 1000);
            document.getElementById('next-show-time').innerHTML = `Join live in &hellip;`;
            return;
          }

          // Otherwise, show next episode
          document.getElementById('next-show-time').innerHTML = "Join live Tuesday 6pm, New York time";
          return;
        }
      });

    document.querySelectorAll('.participant-default-image')
      .forEach(img => img.onerror = () => img.src = '/assets/empty-participant.jpg');
  </script>
</body>

</html>