---
layout: page
title: Member information game
---
<h1 class="my-4">Member information game</h1>

<iframe class="float-lg-end" width="560" height="315" src="https://www.youtube.com/embed/E-oBTjJz4xM?si=ZOXU3-DpyFakahSx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p class="lead">
  We at Community Service Hour recognize the contribution of all participants on our <a href="/">homepage</a> and <a href="/episodes">episodes pages</a>.
</p>

<p class="lead">
  Please help us fill in your information so we can do our token drops.
</p>

<p class="lead">
  Only use publicly available information. And see the video for help --&gt;
</p>

<h2 class="mt-5">Game progress</h2>
{% assign numerator = 0 %}
{% assign denominator = 0 %}
{% for participant in site.data.participants -%}
  {% assign denominator = denominator | plus: 2 %}
  {% if participant[1].name != "???" %}
    {% assign numerator = numerator | plus: 1 %}
  {% endif %}
  {% assign exists = false %}
  {% for file in site.static_files %}
    {% if file.path contains participant[0] %}
      {% assign exists = true %}
    {% endif %}
  {% endfor %}
  {% if exists == true %}
    {% assign numerator = numerator | plus: 1 %}
  {% endif %}
{% endfor -%}
<!-- Bootstrap progress bar -->
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ numerator | times: 100 | divided_by: denominator }}%;" aria-valuenow="{{ numerator | times: 100 | divided_by: denominator }}" aria-valuemin="0" aria-valuemax="100">{{ numerator | times: 100 | divided_by: denominator }}%</div>
</div>

<h2 class="mt-5">All participants/badges</h2>
<table class="table">
  <tr>
    <th>ID</th>
    <td>x</td>
    <td>name</td>
    <td>photo</td>
  </tr>
{% for participant in site.data.participants -%}
  <tr>
    <td>
      {{ participant[0] }}
    </td>
    <td class="position-relative">
      <a href="http://twitter.com/{{ participant[1].x }}" class="stretched-link" target="_blank">
        {{ participant[1].x }}
      </a>
    </td>
    <td>
      {% if participant[1].name == "???" %}
      <a class="btn btn-primary" href="https://github.com/community-service/hour.gg/edit/main/_data/participants.yml" target="_blank">
        Add name
      </a>
      {% else %}
      {{ participant[1].name }}
      <a href="https://github.com/community-service/hour.gg/edit/main/_data/participants.yml" target="_blank">
        Edit
      </a>
      {% endif %}
    </td>
    <td>
      {% assign exists = false %}
      {% for file in site.static_files %}
        {% if file.path contains participant[0] %}
          {% assign exists = true %}
          <img src="{{ file.path }}" class="rounded-circle" style="width: 2.5rem; height: 2.5rem" alt="Photo of {{ participant[0] }}">
          <a href="https://github.com/community-service/hour.gg/upload/main/assets/participants" target="_blank">
            Edit
          </a>
            {% endif %}
      {% endfor %}
      {% if exists == false %}
      <a class="btn btn-primary" href="https://github.com/community-service/hour.gg/upload/main/assets/participants" target="_blank">
        Add photo
      </a>
      {% endif %}
    </td>
  </tr>
{% endfor -%}
</table>