---
layout: page
breadcrumbs:
  - label: CSH
    url: /
  - label: Episodes
    url: /episodes
---
<h1 class="fs-3">
{% if page.posted == false %}
  <span class="badge rounded-pill bg-warning text-dark">Draft</span>
{% endif %}
  {{ page.itunes-episode }} / {{ page.title | escape }}
  {% if page.subtitle != "" %}
  <br><small>{{ page.subtitle | escape }}</small>
  {% endif %}
</h1>
<p class="lead">{{ page.description | escape }}</p>

{% if page.posted == true %}
<!-- Show large audio player -->
<div class="d-flex align-items-center">
  <audio controls>
    <source src="{{ page.enclosure-url }}" type="{{ page.enclosure-type }}">
    Your browser does not support the audio element.
  </audio>
  {% if page.discussion %}
  <a href="{{ page.discussion }}" class="btn btn-primary ms-3" target="_blank" rel="noopener" title="Discussion">
    <i class="bi bi-chat"></i>
  </a>
  {% endif %}
  {% if page.youtube-full %}
  <a href="{{ page.youtube-full }}" class="btn btn-primary ms-3" target="_blank" rel="noopener" title="Full episode video">
    <i class="bi bi-youtube"></i>
  </a>
  {% endif %}
  {% if page contains 'youtube-cuts' %}
    {% for youtube-cut in page.youtube-cuts %}
  <a href="{{ youtube-cut.url }}" class="btn btn-secondary ms-3" target="_blank" rel="noopener" title="{{ youtube-cut.name | escape }}">
    <i class="bi bi-youtube"></i>
  </a>
    {% endfor %}
  {% endif %}
</div>
{% endif %}
<div class="row row-cols-1 row-cols-lg-2">
  <div class="col">
    <h2 id="timeline" class="mt-4">Timeline</h2>
    <div class="timeline">
      {% for item in page.timeline %}
      {% assign hoursHH = item.seconds | divided_by: 3600 | prepend: "0" | slice: -2, 2 %}
      {% assign minutesMM = item.seconds | divided_by: 60 | modulo: 60 | prepend: "0" | slice: -2, 2 %}
      {% assign secondsSS = item.seconds | modulo: 60 | prepend: "0" | slice: -2, 2 %}
      {% assign time = hoursHH | append: ":" | append: minutesMM | append: ":" | append: secondsSS %}
      {% if hoursHH == "00" %}
        {% assign time = minutesMM | append: ":" | append: secondsSS %}
      {% endif %}
      <div>
        <a class="me-2 audiotime" href="#{{ time }}" title="Jump to {{ time }} in audio" data-seconds="{{ item.seconds }}"><i class="bi bi-play"></i></a>
        {% if page.youtube-full %}
        <a class="me-2" href="{{ page.youtube-full }}#t={{ item.seconds }}" target="_blank" rel="noopener" title="Jump to {{ time }} in video"><i class="bi bi-youtube"></i></a>
        {% endif %}
        <code>{{ time }}</code>
        {{ item.title | escape }}
      </div>
      {% endfor %}
    </div>    
  </div>
  <div class="col">
    <h2>Badges</h2>
    {% for badge in page.badges %}

    <div class="col hstack align-self-start gap-2 mb-3">
      <img src="/assets/participants/{{ badge.participant }}.jpg" alt="{{ badge.participant }}" class="rounded-circle" style="width: 3rem; height: 3rem;">
      <div>
        <h5 class="card-title"><a href="https://twitter.com/{{ site.data.participants[badge.participant].x }}">@{{ site.data.participants[badge.participant].x }}</a><!--<span class="badge text-bg-warning rounded-pill ms-2">+12</span>--></h5>
        <p class="card-text">
          {{ site.data.participants[badge.participant].name }}
          <span class="badge text-bg-warning" title="{{ site.data.badges[badge.type].description }}">{{ site.data.badges[badge.type].name }}</span>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div> <!-- .row -->
<hr>

<h2>
  Episode notes
</h2>
<a href="https://github.com/community-service/hour.gg/edit/main/_episodes/{{ page.date | date: "%Y-%m-%d" }}-episode-{{ page.itunes-episode }}.md" class="icon-link mb-5">
  <i class="bi bi-github"></i>
  Edit these notes&hellip;
</a>

{{ content }}